@using SimpleFeed.HtmlHelpers
@model SimpleFeed.Data.OperationResults.ModelWithCreator<SimpleFeed.Core.FeedEntries.Base.FeedEntryBase>

<div class="feed-entry">
    
    <div class="feed-entry-header">
        <div class="feed-entry-title">@Model.Model.Title</div>
        <time class="timeago" datetime="@Model.Model.CreationDate.ToString("s", System.Globalization.CultureInfo.InvariantCulture)">
            @Model.Model.CreationDate.ToString("d")
        </time>
    </div>

    @Html.FeedEntryPartialFor(Model.Model)
    
    <div class="feed-entry-desc">@Model.Model.Description</div>

</div>
