@using SimpleFeed.HtmlHelpers
@model SimpleFeed.Data.OperationResults.ModelWithCreator<SimpleFeed.Core.FeedEntries.Base.FeedEntryBase>

<div class="feed-entry">
    <div class="feed-entry-createdby">
        <div class="feed-entry-author">
            <img src="/images/user_default.png" /> @Model.Creator.UserName
        </div>
        <time class="timeago" datetime="@Model.Model.CreationDate.ToString("s", System.Globalization.CultureInfo.InvariantCulture)">
            @Model.Model.CreationDate.ToString("d")
        </time>
    </div>

    @Html.FeedEntryPartialFor(Model.Model)

    <div class="feed-entry-title">
        <a href="@Url.Action("GetEntry", new { entryId = Model.Model.Id })">@Model.Model.Title</a>
    </div>
    <div class="feed-entry-rating">
        <div>
            <img src="~/images/icons/ico-upvote.png" />
        </div>
        <div>
            <img src="~/images/icons/ico-downvote.png" />
        </div>
    </div>
    <div class="feed-entry-desc">
        @Model.Model.Description
    </div>
</div>
