@using SimpleFeed.HtmlHelpers
@model SimpleFeed.Data.OperationResults.ModelWithCreator<SimpleFeed.Core.FeedEntries.Base.FeedEntryBase>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="feed-entry-title">@Model.Model.Title</div>
<div class="right-text">
    <time class="timeago" datetime="@Model.Model.CreationDate.ToString("s", System.Globalization.CultureInfo.InvariantCulture)">
        @Model.Model.CreationDate.ToString("d")
    </time>
</div>
<div class="feed-entry-desc">@Model.Model.Description</div>

@Html.FeedEntryPartialFor(Model.Model)

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded",
        function() {
            $("time.timeago").timeago();
        });
</script>
